.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}footer {
  
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
}
.position.webkit-sticky.required.for.Safari.position.sticky.top.required.as.well {
}