 .u-section-1 {
  min-height: 584px;
}

.u-section-1 .u-image-1 {
  width: 378px;
  height: 378px;
  margin: 42px calc(((100% - 1140px) / 2) + -39px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 568px;
  height: 351px;
  margin: -378px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 214px;
  height: 429px;
  margin: -238px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: -357px calc(((100% - 1140px) / 2) + 496px) 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-1 .u-text-2 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: -263px auto 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 206px auto 60px calc(((100% - 1140px) / 2) + 210px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 39px;
    margin-right: calc(((100% - 940px) / 2) + -23px);
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 296px;
    margin-top: -361px;
    margin-right: calc(((100% - 940px) / 2) + -23px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2) + -46px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -547px;
    margin-right: calc(((100% - 940px) / 2) + 458px);
    margin-left: calc(((100% - 940px) / 2) + 31px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -250px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 132px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 171px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -348px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -54px;
    margin-left: calc(((100% - 720px) / 2) + -46px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -603px;
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + -5px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -265px;
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 227px;
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 150px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -287px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 170px;
    margin-left: calc(((100% - 540px) / 2) + -46px);
  }

  .u-section-1 .u-text-1 {
    width: 508px;
    margin-top: -1009px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -203px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin: 433px calc(((100% - 540px) / 2) + 134px) 14px auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 779px;
  }

  .u-section-1 .u-image-1 {
    width: 356px;
    height: 356px;
    margin-top: 85px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -12px);
  }

  .u-section-1 .u-image-2 {
    width: 354px;
    height: 232px;
    margin-top: -316px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 483px;
    margin-left: calc(((100% - 340px) / 2) + -46px);
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -900px;
  }

  .u-section-1 .u-text-2 {
    width: 336px;
    margin-top: -517px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 424px;
    margin-right: auto;
    margin-bottom: 60px;
  }
} .u-section-2 {
  min-height: 453px;
}

.u-section-2 .u-image-1 {
  height: 573px;
  margin-top: -120px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: -437px calc(((100% - 1140px) / 2) + 154px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 29px calc(((100% - 1140px) / 2) + 48px) 0 calc(((100% - 1140px) / 2) + 506px);
}

.u-section-2 .u-image-2 {
  width: 426px;
  height: 264px;
  margin: -247px auto 60px calc(((100% - 1140px) / 2) + 29px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -433px;
    margin-right: calc(((100% - 940px) / 2) + 36px);
    margin-left: calc(((100% - 940px) / 2) + 531px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 17px);
    margin-left: calc(((100% - 940px) / 2) + 512px);
  }

  .u-section-2 .u-image-2 {
    margin-top: -264px;
    margin-left: calc(((100% - 940px) / 2) + 25px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -453px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 338px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 309px);
  }

  .u-section-2 .u-image-2 {
    width: 273px;
    margin-left: calc(((100% - 720px) / 2) + 25px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-2 .u-text-1 {
    width: 382px;
    margin-top: -507px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 199px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -334px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 461px;
  }

  .u-section-2 .u-image-1 {
    height: 738px;
    margin-top: -150px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-top: -581px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-top: -360px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 451px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 447px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-shape-1 {
  width: 202px;
  height: 202px;
  margin: 10px auto 0 10px;
}

.u-section-3 .u-image-1 {
  width: 345px;
  height: 345px;
  background-image: url("images/Screenshot_49.png");
  background-position: 50% 50%;
  filter: brightness(0.9);
  margin: -186px auto 0 118px;
}

.u-section-3 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -192px 72px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 181px;
  height: 52px;
  margin: 51px 139px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: 65px 41px 0;
}

.u-section-3 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 88px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 163px;
    margin-left: 41px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: auto;
    margin-left: 371px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: auto;
    margin-left: 231px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 140px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -510px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 447px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 17px 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 127px;
    margin-left: -32px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -212px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -57px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -80px;
    margin-left: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -484px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 421px;
  }
} .u-section-4 {
  background-image: url("images/footer-bg.png");
  background-size: 230%;
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 482px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 11px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 411px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-4 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: 41px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 5px 38px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 324px;
  height: 324px;
  background-image: url("images/Screenshot_51.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0 151px;
}

.u-section-4 .u-shape-1 {
  width: 124px;
  height: 124px;
  margin: -336px 78px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 184px;
  height: 184px;
  background-image: url("images/Screenshot_52.png");
  background-position: 50% 50%;
  margin: 95px auto 0 83px;
}

.u-section-4 .u-shape-2 {
  width: 120px;
  height: 120px;
  margin: -170px 70px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 60px;
  height: 60px;
  margin: -42px 161px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 525px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -375px;
    margin-right: 24px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 134px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -110px;
    margin-right: 10px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -53px;
    margin-right: auto;
    margin-left: 229px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 183px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 34px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -354px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 113px;
    margin-left: 75px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 32px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 438px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 198px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 468px;
    margin-bottom: -435px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -165px;
    margin-left: 74px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -343px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 102px;
    margin-left: 115px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -152px;
    margin-right: 58px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -11px;
    margin-left: 261px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 223px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -10px;
    margin-bottom: 131px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 453px;
    margin-bottom: -332px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -270px;
    margin-left: 6px;
  }

  .u-section-4 .u-shape-1 {
    width: 92px;
    height: 92px;
    margin-top: -332px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 142px;
    margin-left: 3px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -163px;
    margin-right: 6px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -377px;
    margin-left: 43px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 775px;
}

.u-section-5 .u-image-1 {
  height: 577px;
  object-position: 92.33% 100%;
  background-position: 92.33% 100%;
  width: 841px;
  margin: -25px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1049px;
  margin: -81px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 264px;
  grid-gap: 15px 15px;
}

.u-section-5 .u-list-item-1 {
  background-image: linear-gradient(to right, #e69bcb, black);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-5 .u-icon-2 {
  height: 46px;
  width: 46px;
  margin: 18px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: linear-gradient(to right, #008037, black);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-3 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 46px;
  width: 46px;
  margin: 18px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: linear-gradient(to right, #478ac9, black);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-5 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-5 .u-icon-6 {
  height: 46px;
  width: 46px;
  margin: 18px auto 0;
}

.u-section-5 .u-text-4 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: -706px auto 60px 194px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -66px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -715px;
    margin-left: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-5 .u-image-1 {
    height: 416px;
    margin-top: -145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: -88px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 276px;
    grid-auto-columns: calc(33.3333% - 10px);
  }

  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
    margin-top: -565px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-5 .u-image-1 {
    height: 248px;
    width: 400px;
    margin-top: -112px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -34px;
    height: auto;
    min-height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 240px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -512px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-5 .u-image-1 {
    height: 211px;
    margin-top: -227px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: -29px;
    height: auto;
    min-height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 212px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 13px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 13px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
    margin-top: -456px;
  }
}