 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-image-1 {
  width: 932px;
  height: 612px;
  margin: 46px auto 0 -186px;
}

.u-section-1 .u-shape-1 {
  width: 108px;
  height: 108px;
  background-image: linear-gradient(to right, #f9e79b, #f1b5b8);
  margin: -250px 26px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 409px;
  margin: -455px 54px 0 auto;
}

.u-section-1 .u-list-1 {
  margin: 95px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 252px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(#f1b5b8, #f9e79b);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(#f9e79b, #f1b5b8);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-family: "Dr Sugiyama";
  font-size: 6rem;
  margin: -722px 690px 0 65px;
}

.u-section-1 .u-text-10 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 12px 664px 0 13px;
}

.u-section-1 .u-text-11 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  width: 296px;
  margin: -33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    width: 482px;
    height: 363px;
    margin-top: -432px;
    margin-right: 61px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 208px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -766px;
    margin-right: 555px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 23px;
    margin-right: 555px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 473px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -111px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -374px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 563px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 453px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-9 {
    width: 385px;
    margin-top: -1133px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 374px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 355px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -126px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 352px;
    height: 220px;
    margin-top: -241px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 323px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 371px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: -1006px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 245px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 213px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 298px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -1084px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin-top: 233px;
  }

  .u-section-1 .u-text-11 {
    font-size: 3rem;
    width: auto;
    margin-top: 12px;
    margin-left: 22px;
    margin-right: 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 697px;
}

.u-section-2 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  width: 585px;
  font-weight: normal;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 278px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 8px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-2 .u-gallery-1 {
    height: 234px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 260px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-gallery-1 {
    width: 266px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 15px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-shape-1 {
  width: 948px;
  height: 774px;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 571px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/Screenshot_62.png");
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -737px 43px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 537px;
  height: 539px;
  background-image: none;
  margin: -600px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 1117px;
  margin: -34px 1px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 24.75px) calc(25% - 24.75px) calc(25% - 24.75px) calc(25% - 24.75px);
  min-height: 276px;
  grid-gap: 33px 33px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 500;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-3 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 500;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-3 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 500;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-3 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 500;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-9 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  margin: -745px 717px 0 101px;
}

.u-section-3 .u-text-10 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 36px 629px 60px 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 888px;
    height: 555px;
    margin-top: 62px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: -572px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 185px;
    height: 185px;
    margin-top: -545px;
    margin-left: 38px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 243px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -720px;
    margin-right: 643px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 134px;
    margin-right: 470px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-3 .u-shape-1 {
    width: 617px;
    height: 448px;
    margin-top: 139px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 396px;
    height: 396px;
    margin-top: -433px;
    margin-right: 104px;
  }

  .u-section-3 .u-shape-2 {
    width: 142px;
    height: 143px;
    margin-top: -390px;
    margin-left: 27px;
  }

  .u-section-3 .u-list-1 {
    width: 643px;
    margin-top: 447px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    min-height: 431px;
  }

  .u-section-3 .u-text-9 {
    width: 322px;
    margin-top: -1151px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    margin-top: 486px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-3 .u-shape-1 {
    width: 443px;
    height: 312px;
    margin-top: 108px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-top: -296px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 77px;
    height: 78px;
    margin-top: -105px;
    margin-left: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 235px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 687px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -1274px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-3 .u-shape-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-top: -309px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -287px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 577px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 704px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -1410px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 319px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-4 {
  min-height: 607px;
}

.u-section-4 .u-shape-1 {
  height: 607px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -341px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 270px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Screenshot_64.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Screenshot_66.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/Screenshot_65.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  width: 585px;
  margin: -505px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 21px 50px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: -318px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 222px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -468px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 513px;
  }

  .u-section-4 .u-shape-1 {
    height: 513px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: -274px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 233px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -463px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
    margin-bottom: 303px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 515px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-list-1 {
    width: 612px;
    margin-top: -226px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -454px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1002px;
  }

  .u-section-4 .u-shape-1 {
    height: 980px;
    margin-top: 22px;
  }

  .u-section-4 .u-list-1 {
    width: 206px;
    margin-top: -618px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 584px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -954px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
  min-height: 718px;
}

.u-section-5 .u-shape-1 {
  height: 471px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  width: 411px;
  height: 376px;
  margin: -218px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -40px;
}

.u-section-5 .u-text-1 {
  font-family: "Dr Sugiyama";
  font-size: 4.5rem;
  width: 534px;
  margin: -593px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: Chicle;
  font-size: 1.5rem;
  margin: 20px 111px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 652px;
  }

  .u-section-5 .u-gallery-1 {
    width: 355px;
    height: 310px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -521px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 594px;
  }

  .u-section-5 .u-gallery-1 {
    width: 251px;
    height: 235px;
    margin-top: -186px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
    grid-gap: 10px 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -484px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 631px;
  }

  .u-section-5 .u-gallery-1 {
    width: 323px;
    height: 295px;
    margin-top: -184px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -546px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 804px;
  }

  .u-section-5 .u-shape-1 {
    height: 287px;
    margin-top: 513px;
  }

  .u-section-5 .u-gallery-1 {
    width: 328px;
    height: 328px;
    margin-top: -352px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
    padding: 12px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 0;
    padding: 12px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-top: -692px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}