 .u-section-1 {
  background-image: url("images/animated-gifs-of-fighting-game-backgrounds-101.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 49px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/logo_policia_nacional.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -12px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  min-height: 278px;
  margin: 68px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  margin: 0 60px;
}

.u-section-1 .u-text-2 {
  width: 507px;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 39px auto 0;
}

.u-section-1 .u-social-icons-1 {
  background-image: none;
  width: 219px;
  height: 60px;
  min-width: 40px;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  background-image: none;
}

.u-section-1 .u-icon-3 {
  background-image: none;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 39px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    min-width: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 39.64% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-1 .u-group-1 {
    min-height: 253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: 239px;
    font-family: Acme;
    font-size: 1.625rem;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-weight: 700;
    margin-top: 19px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 202px;
    height: 54px;
    min-width: 40px;
    margin-top: 11px;
  }
}